/*
theme color1: 1D3461
theme color3: 89B6A5
text color1: #FE5F55
text color2: DDD92A
 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
background-color: #1D3461;
font-family: 'Ubuntu Mono', monospace;
}
.maincolor{
color: #FE5F55;
}
.secondarycolor{
color: #DDD92A
}
    input {
        border-style: solid;
        border-color: powderblue;
        width: 50vw;
        height: 5vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 6vw
    }
.subtext {
    font-size: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
@media (max-width: 600px){
    input {
        width: 70vw;
        height: 10vw;
        font-size: 8vw
    }
    .subtext {
        font-size: 10vw;
    }
}
