/*
theme color1: 1D3461
theme color3: 89B6A5
text color1: #FE5F55
text color2: DDD92A
 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/minecraft.woff')
}
* {
color: #DDD92A;
font-family: 'Minecraft';
}
.maincolor{
color: #bf00c1;
}
.secondarycolor{
color: #DDD92A
}
.thirdcolor{
color: #2add41;
}

input {
    border-style: solid;
    border-color: #00b9ff;
    background-color: #00b9ff;
    width: 50vw;
    height: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    font-size: 6vw;
    border-radius: 15px;
    padding: 2vw 2vw 2vw 2vw;
}
.subtext {
    font-size: 5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.smalltext {
    font-size: 2vw;
}
@media (max-width: 600px){
    input {
        width: 70vw;
        height: 10vw;
        font-size: 8vw
    }
    .subtext {
        font-size: 10vw;
    }
    .smalltext {
        font-size: 3vw;
    }
}
@media (min-width: 1000px){
    input {
        width: 45vw;
        height: 5vw;
        font-size: 7vw
    }
    .subtext {
        font-size: 4vw;
    }
    .smalltext {
        font-size: 2vw;
    }
}
.hoverinput:hover{
    animation: hoverinputed 500ms forwards;
}
@keyframes hoverinputed{
    to{background-color: #61D5FF}
}

