/*
theme color1: 1D3461
theme color3: 89B6A5
text color1: #FE5F55
text color2: DDD92A
 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
background-color: #1D3461;
font-family: 'Ubuntu Mono', monospace;
}
.maincolor{
color: #FE5F55;
}
.secondarycolor{
color: #DDD92A
}
